BOT_TOKEN=BOT_TOKENINI_BURAYA_YAZ
ALLOWED_USER_ID=TELEGRAM_KULLANICI_IDNI_BURAYA_YAZ

CHECK_INTERVAL=60
CPU_LIMIT=90
RAM_LIMIT=90
DISK_LIMIT=90
TEMP_LIMIT=75
PUBLIC_IP_CHECK_URL=https://api.ipify.org
